/Assignments/Signal_Generator_LAB/Signal_Gen.X/dist/
/Assignments/Signal_Generator_LAB/Signal_Gen.X/build/
/Assignments/Signal_Gen.X/build/
/Assignments/Signal_Gen.X/dist/
/Assignments/Seven_Segment_Counter.X/build/
/Assignments/Seven_Segment_Counter.X/dist/
/Assignments/Lab_7_Keypad.X/dist/
/Assignments/Lab_7_Keypad.X/build/