/Assignments/Signal_Generator_LAB/Signal_Gen.X/dist/
/Assignments/Signal_Generator_LAB/Signal_Gen.X/build/
/Assignments/Signal_Gen.X/build/
/Assignments/Signal_Gen.X/dist/
/Assignments/Seven_Segment_Counter.X/build/
/Assignments/Seven_Segment_Counter.X/dist/
/Assignments/Lab_7_Keypad.X/dist/
/Assignments/Lab_7_Keypad.X/build/
/Assignments/C-Programming.X/build/
/Assignments/C-Programming.X/dist/
/Assignments/Keypad_Calculator.X/build/
/Assignments/Keypad_Calculator.X/dist/
/Assignments/Lab9_Watchdogs.X/build/
/Assignments/Lab9_Watchdogs.X/dist/